example_data/example_1_no_compress.tif filter=lfs diff=lfs merge=lfs -text
example_data/example_1_cog_nocompress.tif filter=lfs diff=lfs merge=lfs -text
example_data/example_1_jpeg.tif filter=lfs diff=lfs merge=lfs -text
example_data/example_1_cog_3857_nocompress.tif filter=lfs diff=lfs merge=lfs -text
example_data/marina_1_cog_nocompress.tif filter=lfs diff=lfs merge=lfs -text
example_data/tests_expected/example_1_cog_3857_nocompress__549688_365589_20.ppm filter=lfs diff=lfs merge=lfs -text
example_data/tests_expected/example_1_cog_3857_nocompress__20_549689_365591.ppm filter=lfs diff=lfs merge=lfs -text
example_data/tests_expected/example_1_cog_3857_nocompress__20_549687_365589.ppm filter=lfs diff=lfs merge=lfs -text
example_data/example_1_cog_3857_nocompress_blocksize_256.tif filter=lfs diff=lfs merge=lfs -text
example_data/tests_expected/example_1_cog_3857_nocompress_blocksize_256__17_68710_45698.ppm filter=lfs diff=lfs merge=lfs -text
example_data/tests_expected/example_1_cog_nocompress__20_549687_365589.ppm filter=lfs diff=lfs merge=lfs -text
example_data/tests_expected/marina_1_cog_nocompress__21_1726623_1100526.ppm filter=lfs diff=lfs merge=lfs -text
example_data/example_1_cog_deflate.tif filter=lfs diff=lfs merge=lfs -text
example_data/example_1_cog_3857_nocompress_bigtiff.tif filter=lfs diff=lfs merge=lfs -text
example_data/example_1_cog_jpeg.tif filter=lfs diff=lfs merge=lfs -text
example_data/tests_expected/example_1_cog_jpeg__20_549687_365589.ppm filter=lfs diff=lfs merge=lfs -text
example_data/s2_corsica_1_multibands_deflate.tiff filter=lfs diff=lfs merge=lfs -text
example_data/tests_expected/s2_corsica_1_multibands_deflate__15_17166_12168.ppm filter=lfs diff=lfs merge=lfs -text
